<div id="results">
  <%@results.each do |result|%>
    <div class="links">
      <a href="http://www.youtube.com/embed/<%=result[:link]%>"><%=result[:title] %></a>
      <form action="/videos" method="post">
        <input type="hidden" name="video[link]" value="<%=result[:link]%>">
        <input type="hidden" name="video[title]" value="<%=result[:title]%>">
        <button class="btn btn-default add-link">Add Link to Playlist</button>
      </form>
    </div>
  <%end%>
</div>
