<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">
  <link rel="stylesheet" href="/css/bootstrap.min.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>
  <script src="https://apis.google.com/js/client.js?onload=handleClientLoad"></script>

  <title></title>
</head>
<body>
  <div id="video-player" style = "margin: 75px 0">
    <iframe style = "display: inline-block; float:left; margin: 0 25%;" width="50%" height="315" src="https://www.youtube.com/embed/3M04v_P_dTY?autoplay=1" frameborder="0" allowfullscreen></iframe>
  </div>
 <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Song Title</th>
          <th>Votes</th>
        </tr>
      </thead>
      <tbody id="playlist-table">
        <%@videos.each_with_index do |video, index|%>
          <tr class="videos" data-vid-id=<%=video.id%>>
            <td><%=index+1%></td>
            <td><%=video.title%></td>
            <td><%=video.votes.count%></td>
          </tr>
        <%end%>
      </tbody>
    </table>
 </body>
</html>
